Package: com.ninjaprawn.voltage
Name: Voltage
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: View the volume percentage
Maintainer: Ninjaprawn
Author: Ninjaprawn
Section: Tweaks
